html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family:Poppins;
}
h1{
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;             
}


.fotovanmezelf {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fotovanmezelf img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;

}
.navbar{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:rgb(211,211,211,0.5);
    width: 100%;
    height: 70px;
    z-index: 1;
}
.nav{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}


.nav li {
    margin: 0.5em;
    border-radius: 15px;
    border: 2px solid #000000;
    padding: 0.5em;
}
.logo {
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 2em;
}
img{
    width: 20%;
}
a{
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover{
    color: #000;
}
.banner-area{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-image: url(https://i.postimg.cc/GtRM7mdX/1.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-area h1 {
    margin: 0;
    font-family: 'Audiowide', cursive;
    font-size: 1.3em;

}
.banner-area p {
    font-family: 'Montserrat', sans-serif;
    padding: 0 1em 0 1em;
}
.tekstintro {
    text-align: center;
    margin-bottom: 2em;
}

.typewriting {
    margin-top: 2em;
}

.skills {
    display: flex;
    justify-content: center;
}

.skills img {
    width: 100px;
    height: 100px;
}

#more 
{display: none;}


#myBtn {
    font-family: 'Audiowide', cursive;
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

#myBtn:hover {
    color: #131212 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}


.work-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
}
.werkbundel {
    display:grid;
    justify-content: center;
    grid-gap:10em;
    grid-template-columns: repeat( 1, minmax(20em, 1fr) );
    margin: 0;
    padding: 1em;
}

.werk1 {
    
}
.werk1 h1{
    margin: 0;
    font-size: 2em;
    
}
.werk1 p{
    margin: 0;
    font-size: 1em;   
    line-height: 2em;
}

.werk1 img {
    width: 20em;
    height: 20em;
    object-fit: cover;
}
.text-part{
    width: 100%;
    height: 10vh;
    text-align: center;
} 

.text-part h1{
    margin: 0;
    font-size: 2.5em;
}
.work-area{
    background-color: #fefefe;
}
.port-area{
    background-color: #262626;
    color: #fff;
}
.service-area{
    background-color: #fefefe;
}
.contact-area{
    background-color: #262626;
    color: #fff;
}



@media screen and (min-width: 584px) {
    .nav li {
        border: 0px solid #000000;
        
    }
}

@media screen and (min-width: 736px) {

    .fotovanmezelf {
        display: none;
    }

    .werkbundel {
        grid-template-columns: repeat( 1, minmax(17em, 1fr) );
        padding: 2em;
    }
    .navbar{
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: rgb(211,211,211,0.5);
        width: 100%;
        height: 70px;
        z-index: 1;
    }
    .nav{
        display: flex;
        justify-content: right;
        list-style: none;
        margin-right: 15%;
    }
    .logo {
        flex: 1 1 auto;
        margin-left: 10%;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 2em;
    }
    .banner-area p {
        padding: 0 5em 0 5em;
    }
    
}

@media screen and (min-width: 1068px) { 

    .werkbundel {
        grid-template-columns: repeat( 3, minmax(17em, 1fr) );
        padding: 2em;
    }

    .banner-area p {
        padding: 0 10em 0 10em;
    }
}